$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body{
    padding:15px;
}

@media screen and (max-width: 768px) {
    body{
        padding:0px;
    }
}

.collections ul li{
    list-style: none;
}