	<div class="col-md-3 collections">
		<p>
			<form role="form">
				<div class="form-group">
					<input type="text" ng-model="collectionSearch">
					<button ng-click="addCollection();">+</button>
				</div>
			</form>
		</p>
		<p>
			<ul>
				<li ng-repeat="collection in collections">
					<a href="" ng-click="changeCollection(collection);">
						<span ng-if="collection == currentCollection;">
							<b>{{ collection.name }}</b>
						</span>
						<span ng-if="collection != currentCollection;">
							{{ collection.name }}
						</span>
					</a>
				</li>
			</ul>
		</p>
	</div>
	<div class="col-md-9">
		<p>
			<form role="form">
				<div class="form-group">
					<input type="text" ng-model="newItem">
					<button ng-click="addItem();">+</button>
				</div>
			</form>
		</p>
		<table class="table table-striped">
			<tr ng-repeat="item in currentCollection.items">
				<td>{{ item }}</td>
			</tr>
		</table>
	</div>